<header>
    <div class="header-nav">
      <a href="/">BLOG</a>
      <p>ようこそ、<%= locals.username %>さん</p>
      <ul>
        <li><a href="/list">記事一覧</a></li>
        <% if (locals.isLoggedIn) { %>
            <li><a href="/logout">ログアウト</a></li> 
        <% } else { %>
            <li><a href="/signup">新期登録</a></li>
            <li><a href="/login">ログイン</a></li>
            <li><a href="/editer_login">編集</a></li>
        <% } %>
      </ul>
    </div>
    <p>学びブログ</p>
  </header>