<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
</head>
<body>
    <div class="top">
        <div class="wrapper">
            <div class="content">
                <h2>学びブログ</h2>
                <h1><img src="/images/top-logo.svg" alt=""></h1>
                <p>プログラミングに関する雑学ブログ<br>誰かに教えたくなる豆知識をお届けします。</p>
                <a class="btn" href="/list">読み始める</a>
            </div>
            <img src="image" src="/images/top.svg">
        </div>
    </div>
</body>
</html>